<head><link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css" /> <style>ul{list-style:none}.font-green{color:#0070d5}</style></head>
<div style="font-family: Poppins-Medium; font-size: 14px; color: 696969;">
    
    <div class="portlet-body" >
        <span id="ContentPlaceHolder1_spnGMCChecklist">
            <ul class="list-unstyled">
                <li><i class="fa fa-check font-green fa-lg"></i> Original Hospital Final Bill</li>
                <li><i class="fa fa-check font-green fa-lg"></i> Original Numbered Receipts for payments made to the Hospital</li>
                <li><i class="fa fa-check font-green fa-lg"></i> Complete Break-up of the Hospital Bill</li>
                <li><i class="fa fa-check font-green fa-lg"></i> Original Discharge Card / Summary</li>
                <li><i class="fa fa-check font-green fa-lg"></i> All Original Investigation Reports</li>
                <li><i class="fa fa-check font-green fa-lg"></i> All Original Medicine / Chemist Bills with relevant prescriptions</li>
                <li><i class="fa fa-check font-green fa-lg"></i> Original Signed Claim Form</li>
                <li><i class="fa fa-check font-green fa-lg"></i> E-card Copy</li>
                <li><i class="fa fa-check font-green fa-lg"></i> Intimation Mail Copy</li>
                <li><i class="fa fa-check font-green fa-lg"></i> Paginated photo copies of Indoor Case papers of hospitalisation attested by the hospital</li>
                <li><i class="fa fa-check font-green fa-lg"></i> Latest USG (Ultra-sound Sonography Report) / Sonography Report in case of Maternity Related Claim</li>
                <li><i class="fa fa-check font-green fa-lg"></i> Stickers &amp; Invoice of implants / Lens used during surgery</li>
                <li><i class="fa fa-check font-green fa-lg"></i> FIR (First Information Report) / MLC (Medico Legal Certificate) Copy, in case of Road Accidents. If MLC is not applicable then written confirmation from the first consulting Doctor / Hospital that the patient was not under influence of alcohol or drug along with Self Declaration of incident</li>
                <li><i class="fa fa-check font-green fa-lg"></i> Documents for NEFT Transfer of payment for settlement of claim i.e. a cancelled cheque of employee's 	bank account with account no, IFSC Code, MICR code...etc</li>
            </ul>
        </span>
    </div>
</div>
