<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.SO.imagefetcher</string>
		<string>com.SO.apprefresh</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Benefits You India</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>marsh.test.com</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>0988bda25982a9aefc12286857f289842c56c634</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>activator</string>
		<string>filza</string>
		<string>zebra</string>
		<string>sileo</string>
		<string>undecimus</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
		<string>Cydia</string>
		<string>Icy</string>
		<string>MxTube</string>
		<string>RockApp</string>
		<string>blackra1n</string>
		<string>SBSettings</string>
		<string>FakeCarrier</string>
		<string>WinterBoard</string>
		<string>IntelliScreen</string>
		<string>Sileo</string>
		<string>FlyJB</string>
		<string>Zebra</string>
		<string>Sileo</string>
		<string>libhooker</string>
		<string>hook</string>
		<string>frida</string>
		<string>sslkills2</string>
		<string>hestia</string>
		<string>choicy</string>
		<string>abypass</string>
		<string>A-Bypass</string>
		<string>shadowsocks</string>
		<string>Shadowrocket</string>
		<string>Shadow</string>
		<string>shadow</string>
		<string>sslkillswitch2</string>
		<string>substitute</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSPinnedDomains</key>
		<dict>
			<key>employee.benefitsyou.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>grX4Ta9HpZx6tSHkmCrvpApTQGo67CYDnvprLg5yRME=</string>
					</dict>
				</array>
				<key>NSPinnedLeafIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>PCw9IppwACE3PMA5kk0aNI3BczMvCG7en3R8k6BYqJE=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>PCw9IppwACE3PMA5kk0aNI3BczMvCG7en3R8k6BYqJE=</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>To capture document image from your camera.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>To show list of nearby Registered Hospitals with our system. </string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>To show list of nearby Registered Hospitals with our system. </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To show list of nearby Registered Hospitals with our system. </string>
	<key>NSMotionUsageDescription</key>
	<string>Benefits You India wants to access your Motion Data from your iPhone</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To select document image from your Photos.</string>
	<key>NSPhotoLibraryUsageDescription - 2</key>
	<string>$(PRODUCT_NAME) would like to access your photos</string>
	<key>RequestsOpenAccess</key>
	<string>YES</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Bold</string>
		<string>Poppins-Light</string>
		<string>Poppins-Medium</string>
		<string>Poppins-Regular</string>
		<string>Poppins-SemiBold</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
